/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App a {
  color: #f60;
} */
h1{
  text-align: center;
  font-size: 3em;
}
.form-location{
  margin: 0 auto;
  padding: 2% 4%;
  max-width: 30%;
  box-shadow: 0 0 4px rgba(0,0,0, .5),
  0 0 10px rgba(0,0,0, .8);
  margin-bottom: 3%;
}

.weather-table{
  margin: 0 auto;
  max-width: 70%;
}

.text-result{
  color: blue;
}
.text-error{
  color: red;
}

.icon{
  max-width: 170px;
  max-height: 75px;
}

@media only screen and (max-width: 1750px) {
  .form-location{
    max-width: 37%;
  }
}

@media only screen and (max-width: 1600px) {
  .form-location{
    max-width: 40%;
  }
}

@media only screen and (max-width: 1300px) {
  .form-location{
    max-width: 45%;
  }
  .weather-table{
    max-width: 85%;
  }
}

@media only screen and (max-width: 950px) {
  .form-location{
    max-width: 65%;
  }
  .weather-table{
    max-width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .form-location{
    max-width: 80%;
  }
  .weather-table{
    max-width: 95%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
